body {
  background-color: purple;
  font-family: sans-serif;
}

h1 {
  color: #ffffff;
}

h2 {
  color: antiquewhite;
  font-size: 20px;

}

ul {
  display: inline-block;
  color: #ffffff;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 225, 0.3);
  border-radius: 4px;
  padding: 1em 1em 1em 2em;
}


p {
  padding: 1em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 700px;
}

.big {
  display: inline-block;
  font-size: 3rem;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}